/* Reset CSS */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
button,
input,
textarea{
    font-family: 'Montserrat', sans-serif;
    border: none;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
    outline: none;
    box-shadow: none;
}
ul,
ol,
li{
    list-style-type: none;
    padding-left: 0;
}
p{
    color: #737373;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.583333333333333;
    letter-spacing: 0.002em;
}
.fill-button{
    display: block;
    text-align: center;
    border-radius: 30px;
    width: 236px;
    padding: 16px 0;
    color: #FA4A0C;
    border: 1px solid #FA4A0C;
    background-color: #FFF;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.001em;
    transition: background-color 250ms ease-in,
    color 250ms ease-in;
}
.fill-button:hover{
    background-color: #FA4A0C;
    color: #FFF;
}
.install-title{
    color: #FA4A0C;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.001em;
    margin-bottom: 30px;
}
.install-sub-title{
    color: #252B42;
    font-size: 40px;
    line-height: 1.425;
    letter-spacing: 0.002em;
    margin-bottom: 30px;
}

/* header */
.header{
    padding: 17px 0 40px;
}
.header__section__image{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__section__image img{
    display: block;
    width: 104px;
    height: auto;
    cursor: pointer;
}
.header__section__menubar-btn{
    cursor: pointer;
    transform: translateY(70%);
    background-color: #FFF;
}
.header__section__menubar-btn i{
    opacity: 0.3;
}
.hearder__list-container{
   display: none;
}
/* landing */
.landing{
    width: 100%;
    padding: 50px 0;
    background-color: #FAFAFA;
    text-align: center;
}
.landing__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.001em;
    color:#737373;
    margin-bottom: 7px;
}
.landing__content{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.180555555555556;
    letter-spacing: 0.002em;
    margin-bottom: 17px;
}
.landing__desc{
    margin-bottom: 40px;
}
.landing__btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing__btn-group a{
    z-index: 999;
}
.landing__btn-group a:first-child{
    margin-bottom: 17px;
}

/* aside */ 
.aside{
    width: 100%;
    position: relative;
    background-color: #FAFAFA;
    border-bottom: 2px solid #E4E4E4;
}
.aside__group-image{
    width: 100%;
    height: 492px;
}
.aside__group-image img{
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate(-10%,-18%);
}
.aside__title{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.001em;
    margin-bottom: 49px;
}
/* install */
.install{
    padding-top:65px;
    text-align: center;
}
.install img{
    display: block;
    width: 100%;
    height: auto;
    transform: translateX(8%);
}


/* DESKTOP */
@media screen and (min-width:768px){
     /* Reset CSS */
     .fill-button:hover{
        background-color: #FA4A0C;
        color: #FFF;
        border: 1px solid #FA4A0C;
    }
    .transparent-button{
        background-color: transparent;
        color: #FFF;
        border: 1px solid #FFF;
    }
    /* header */
    .header{
        padding: 26px 0 28px;
    }
     .header .container{
        max-width: 95% !important;
    }
    .header__section{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .header__section__image{
        display: block;
    }
    .header__section__menubar-btn{
        display: none;
    }
    .header__section__image img{
        width: 206px;
        height: auto;
    }
    .hearder__list-container{
        display: block;
        width: 100%;
    }
    .header__section__lists{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: translateY(40%);
        width: 100%;
    }
    .header__section__list{
        margin-right: 104px;
        transition: color 250ms ease-in-out;
    }
    .header__section__list:last-child{
        margin-right: 0;
    }
    .header__section__list:hover{
        color: #FA4A0C;
    }
    .header__section__list a{
        font-weight: 700;
        line-height: 1.75;
        letter-spacing: 0.002em;
    }
     /* landing */
    .landing{
        padding: 73px 0 146px 0;
        height: 619px;
        background-image: url('./assets/backgroud.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .landing__title{
        font-size: 24px;
        color:#F6F6F6;
    }
    .landing__content{
        font-size: 58px;
        line-height: 1.379310344827586;
        margin-bottom: 7px;
        color:#F6F6F6;
    }
    .landing__desc{
        color:#F6F6F6;
        margin-bottom: 54px;
    }
    .landing__btn-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   
    .landing__btn-group a:first-child{
        margin: 0 34px 0 0;
    }
    /* aside */
    .aside{
        position: relative;
        border-bottom: 0;
        margin-bottom: 59px;
        background-color: #FFF;
    }
    .aside__group-image{
        height: 548px;
        border-bottom: 2px solid #E4E4E4;
    }
    .aside__group-image img{
        position: absolute;
        width: 530px;
        height: auto;
        transform: translate(30%,-39%);
    }
    .aside__title{
        margin-top: 72px;
        font-size: 44px;
        line-height: 0.8181818181818182;
        margin-bottom: 0;
    }
    /* install */
    .install .col-md-7{
        order: 1;
    }
    .install{
        padding-top:78px;
        text-align: left;
    }
    .install-title{
        margin-bottom: 17px;
    }
    .install-sub-title{
        margin-bottom: 17px;
    }
    .install img{
        width: 100%;
        height: auto;
        margin: 0;
        transform: none;
    }
    .install +.install .col-md-7{
        order: 0;
    }
    .install:last-child .col-md-7{
        order: 1;
    }
    
}


